
table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  
  /* border: 1px solid #ddd; */
}

th, td {
  text-align: left;
  /* padding: 3px; */
}

tr:nth-child(even){background-color: #B3DE81}

h1{
  padding: 5px 0px 5px 0px;
    color: #FDFFFF;
}

body{
    font-family: 'Open Sans', sans-serif;
    font-size: 10px;
    background-color: #68A225;
    margin: 0;
    height: 35em;
    padding: 0;
    width: 30em;
    margin: 0px 10px 10px 10px;
}

input{
  border: 1px solid #223445;
  border-radius: 5px;
  width: 5em;
}